<html lang="en" ng-app="SlidesApp">

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <title>Slides</title>
</head>

<body layout="column" ng-controller="AppCtrl">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
                <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            <h1>Firebase Slides</h1>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <div layout="row" ng-show="user">
                <md-button class="md-secondary" flex ng-click="authObject.$unauth()">
                    Log Out
                </md-button>
            </div>
        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">
                <div ng-if="!user" ng-controller="AuthCtrl">
                    <md-whiteframe class="md-whiteframe-z0" layout="column" layout-align="center center" layout-padding layout-wrap>
                        <md-button class="md-primary md-raised" ng-click="google()">
                            Log in with Google
                        </md-button>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-z0" layout="row" layout-align="center center" layout-padding layout-wrap>
                        <md-button class="md-primary md-raised" ng-click="facebook()">
                            Log in with Facebook
                        </md-button>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding layout-wrap>
                        <h3>Login with Email and Password</h3>
                        <form name="loginForm" style="width: 100%;">
                            <md-input-container>
                                <label for="login-email">Email</label>
                                <input id="login-email" type="email" ng-model="loginUser.email" required>
                            </md-input-container>
                            <md-input-container flex>
                                <label for="login-password">Password</label>
                                <input id="login-password" type="password" ng-model="loginUser.password" required>
                            </md-input-container>
                            <div layout="row" layout-sm="column" layout-align="center space-between" layout-align-sm="center center">
                                <div>
                                    <md-button class="md-primary md-raised" ng-click="login(loginUser)" ng-disabled="loginForm.$invalid">
                                        Log In
                                    </md-button>
                                </div>
                                <div>
                                    <md-button class="md-secondary md-raised" ng-click="register(loginUser)" ng-disabled="loginForm.$invalid">
                                        Register
                                    </md-button>
                                </div>
                            </div>
                        </form>
                    </md-whiteframe>
                </div>
                <div ng-if="user" ng-controller="SlidesCtrl" style="height: calc(100vh - 100px); position: relative;">
                    <div style="position: absolute; top: 0; right: 0; z-index: 1;" ng-show="user.isAdmin">
                        <md-button class="md-secondary md-raised" ng-click="editing = !editing" aria-label="Editing">
                            <span ng-if="!editing">Edit</span>
                            <span ng-if="editing">View</span>
                        </md-button>
                    </div>
                    <style type="text/css">
                    .full-screen-tabs {
                        height: calc(100% - 5rem);
                    }
                    </style>
                    <md-tabs class="full-screen-tabs" md-selected="selectedIndex" md-border-bottom md-autoselect>
                        <md-tab ng-repeat="tab in slides" ng-disabled="tab.disabled" label="{{ tab.title }}">
                            <div class="tab-{{ $index }}" style="padding: 25px;" ng-controller="SlideCtrl">
                                <div ng-if="editing">
                                    <div style="text-align: right;">
                                        <md-button class="md-warn" ng-click="removeSlide($index)">
                                            Remove Slide
                                        </md-button>
                                    </div>
                                    <form name="slideEditForm{{$index}}">
                                        <textarea ng-model="slide.commonmark" placeholder="Slide Commonmark" style="height: calc(100% - 5rem); width: 100%;" md-model-options="{debounce: {'default': 1000}}"></textarea>
                                    </form>
                                </div>
                                <div ng-bind-html="slide.content" style="font-size: 3vw;"></div>
                            </div>
                        </md-tab>
                    </md-tabs>
                    <form name="newSlideForm" ng-if="user.isAdmin">
                        <div layout="row">
                            <md-input-container flex>
                                <label for="new-slide-title">New Slide Title</label>
                                <input id="new-slide-title" type="text" ng-model="newSlideTitle" required>
                            </md-input-container>
                            <div flex style="max-width: 7rem; text-align: right;">
                                <md-button class="md-primary md-raised" ng-click="addSlide(newSlideTitle); newSlideTitle = undefined;" ng-disabled="newSlideForm.$invalid">
                                    Add Slide
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </md-content>
        </div>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <!-- Angular Material -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase-debug.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <!-- Environment Variables -->
    <script src="scripts/env.js"></script>
    <!-- Angular Controllers -->
    <script src="scripts/app.js"></script>
    <script src="scripts/auth.js"></script>
    <script src="scripts/slides.js"></script>
    <script src="scripts/slide.js"></script>
</body>

</html>